.content-sddresses {
    margin: auto;
    width: 100%;
}

.wrapper-addess {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 637px;
    margin: 100px 0  100px;
    padding-left: 60px;
}

.content-dev1 h1 {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-number3);
}

.content-dev2 {
    display: flex;
    gap: 42px;
    align-items: flex-start;
}

.content-button1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 405px;
    width: 100%;
}

.content-button1 button:nth-child(1) {
    display: flex;
    max-width: 405px;
    width: 100%;
    min-height: 74px;
    border-style: none;
    background: var(--color-number2);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-number6);
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.content-button1 button:nth-child(2) {
    display: flex;
    max-width: 405px;
    width: 100%;
    min-height: 74px;
    border-style: none;
    background: var(--color-number18);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-number9);
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    border-bottom: 1px solid var(--color-number2);
}

.content-order-addresses {
    display: flex;
    flex-direction: column;
    max-width: 822px;
    width: 100%;
    min-height: 569px;
    box-shadow: 0px 4px 32px 0px var(--color-number22);
    border-top: 1px solid var(--color-number17);
}

.content-top {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 60px;
}

.name-addresses {
    display: flex;
    justify-content: space-between;
}
.content-colum{
    max-width: 518px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.name-addresses h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-number2);
}

.name-addresses span {
    max-width: 289px;
    width: 100%;
    color: #848484;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.content-copy{
    display: flex;
    justify-content: flex-end;
    margin-inline: 60px;
    gap: 10px;
}
.content-copy span{
font-size: 24px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: var(--color-number19);
}
@media screen and (max-width:1440px) {
    .wrapper-addess{
        padding-inline: 30px;
        margin: 60px 0 60px;
    }
    .addresses-footer{
        margin-top: 0 !important;
    }
    .content-dev1 h1{
        font-size: 30px;
    }
}
@media screen and (max-width:1280px){
    .content-button1 button:nth-child(1),
    .content-button1 button:nth-child(2),
    .content-button1{
        max-width: 298px;
        width: 100%;
    }
    .content-dev1 h1{
        font-size: 24px;
    }
    
}
@media screen and (max-width:1100px){
    .content-colum{
        flex-direction: column;
        gap: 5px;
    }
    .name-addresses{
        border-bottom: 1px solid var(--color-number17);
    }
    .content-button1 button:nth-child(1),
    .content-button1 button:nth-child(2),.content-button1{
        max-width: 172px;
        width: 100%;
        min-height: 38px;
    }
    /* .content-order-addresses{
        max-width: 534px;
        width: 100%;
        min-height: 427px;
    } */
    .content-colum h1,.content-colum span{
        font-size: 16px;
    }
    .name-addresses img, .content-copy img{
        width: 24px;
    }
    .content-copy span{
        font-size: 20px;
    }
    .content-copy{
        margin-bottom: 41px;
    }
}
@media screen and (max-width:786px){
.content-footer.addresses-footer{
    margin-top: 0px !important;
}
}
@media screen and (max-width:720px){
    .content-dev2{
        flex-direction: column;
        align-items: center;
    }
    .content-button1{
        flex-direction: row-reverse;
        justify-content: center;
    }
}
@media screen and (max-width:500px){
    .content-top{
        margin: unset;
    }
    .content-copy{
        margin-top: 30px;
        margin-inline: 0;
    }
    .content-order-addresses{
        border: none;
        box-shadow: unset;
    }
}