.content-change-pass{
    width: 100%;
    margin:100px auto ;
}
.wrapper-change{
    max-width: 808px;
    width: 100%;
    min-height: 370px;
    box-shadow: 0px 4px 32px 0px var(--color-number10);
    border: 1px solid var(--color-number11);
    padding: 60px;
    margin: auto;
    border-radius: 4px;
}
.chenge-text h1{
font-size: 24px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0.18em;
text-align: left;
color: var(--color-number2);
}
.pass-change{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 35px;
}
.container-form-change{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}
.container-form-change span{
font-size: 24px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
color: var(--color-number3);
}
.container-form-change input{
    max-width: 688px;
    width: 100%;
    min-height: 70px;
    border-radius: 4px;
    border: 1px solid var(--color-number2);
font-size: 24px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: var(--color-number12);
padding: 21px 10px;
}
.container-form-change input:focus-visible{
    outline: none;
    border: solid 1px var(--color-number7);
}
.change-button .change-btn{
    max-width:263px ;
    width: 100%;
    min-height: 44px;
    background: var(--color-number2);
font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: center;
color: var(--color-number6);
border: none;
cursor: pointer;
border-radius: 4px;
}

.change-btn {
    border: none;
    -webkit-transition: all 1000ms;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
  }
  
  .change-btn:hover {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    outline: 1px solid var(--color-number2);
    -webkit-box-shadow: 4px 5px 17px -4px var(--color-number2);
            box-shadow: 4px 5px 17px -4px var(--color-number2);
  }
  
  .change-btn::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-number8);

    -webkit-transform: skewX(30deg);
        -ms-transform: skewX(30deg);
            transform: skewX(30deg);
    z-index: -1;
    -webkit-transition: width 1000ms;
    transition: width 1000ms;
  }
  .change-btn:hover::before {
    width: 150%;
  }











@media screen and (max-width:1280px) {
    .wrapper-change{
        max-width: 530px;
        width: 100%;
        min-height: 271px;
    }
    .wrapper-change{
        padding: 27px;
    }
    .container-form-change span{
        font-size: 16px;
    }
    .container-form-change input{
        max-width: 400px;
        width: 100%;
        min-height: unset;
        height: 50px;
        font-size: 14px;
    }
    .change-button .change-btn{
        max-width: 400px;
        width: 100%;
        min-height: 44px;
    }
}
@media screen and (max-width:786px){
  .change_pass-footer{
    margin-top: -26px !important;
  }  
}
@media screen and (max-width:560px){
    .wrapper-change{
        box-shadow: none;
        border: none;
        border-radius: unset;
      
    }
    .chenge-text h1{
        text-align: center;
    }
}
@media screen and (max-width:320px){
    .chenge-text h1{
        font-size: 20px;
    }
}