.content-password-changeSettings {
    width: 100%;
}

.change-pas-set {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.set-change-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 100px 120px;
}

.set-change-text h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-number3);
    text-transform: uppercase;
}

.form-change-pass {
    max-width: 688px;
    width: 100%;
    min-height: 266px;
    margin: auto;
}

.set-pass {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-pass-chinput {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-pass-chinput span {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-number3);
}

.content-pass-chinput input {
    max-width: 688px;
    width: 100%;
    min-height: 70px;
    border-radius: 4px;
    border: solid 1px var(--color-number2);
    padding: 21px 20px;
}

.content-pass-chinput input:focus-visible {
    outline: none;
    border: solid 1px var(--color-number7);
}

.content-pass-none span {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: right;
    color: var(--color-number3);
    cursor: pointer;
}

.content-pass-none span>span {
    text-transform: lowercase;
}

.content-pass-none {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.pass-set-chngbutton {
    padding-top: 20px;
    margin-bottom: 100px;
}

.pass-set-chngbutton .cng {
    max-width: 272px;
    width: 100%;
    min-height: 44px;
    background: var(--color-number2);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-number6);
    border: none;
    cursor: pointer;
    border-radius: 4px;
}


.cng {
    border: none;
    -webkit-transition: all 1000ms;
    transition: all 1000ms;
    position: relative;
    overflow: hidden;
  }
  
  .cng:hover {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    outline: 1px solid var(--color-number2);
    -webkit-box-shadow: 4px 5px 17px -4px var(--color-number2);
            box-shadow: 4px 5px 17px -4px var(--color-number2);
  }
  
  .cng::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-number8);

    -webkit-transform: skewX(30deg);
        -ms-transform: skewX(30deg);
            transform: skewX(30deg);
    z-index: -1;
    -webkit-transition: width 1000ms;
    transition: width 1000ms;
  }
  .cng:hover::before {
    width: 150%;
  }









@media screen and (max-width:1440px) {
    .set-change-text h1{
        font-size:30px ;
    }
    .set-change-text{
        padding: 60px 30px;
    }
}
@media screen and (max-width:1280px){
    .set-change-text h1{
        font-size:24px ;
    }
    .content-pass-chinput span{
        font-size: 16px;
    }
    .content-pass-none span{
        font-size: 14px;
    }
    .form-change-pass{
        max-width: 400px;
        width: 100%;
    }
    .content-pass-chinput input{
        min-height: unset;
        height: 50px;
    }
    .pass-set-chngbutton .cng{
        max-width: 400px;
        width: 100%;
    }
}
@media screen and (max-width:786px){
    .pass_cng-footer{
        margin-top:-50px !important ;
    }
    .change-pas-set{
        gap: 0;
    }
    .set-change-text{
        padding: 26px 30px;
    }
}
@media screen and (max-width:464px){
    .set-change-text{
        padding: 26px 15px;
    }
    .form-change-pass{
        padding-inline: 15px;
    }
}
@media screen and (max-width:393px){
    .set-change-text h1{
        font-size: 16px;
    }
    .content-pass-chinput{
        gap: 0;
    }
    .content-pass-none span{
        font-size: 12px;
    }
}