/* how to use start  */

.container-howToUse {
  width: 90vw;
  padding-left: 6%;
  margin-top: 90px;
}

.wrapper-toUse {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.wrapper-toUse h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0.18em;
  text-align: left;
  color: #F8931F;
}

.wrapper-toUse span {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #263238;
}

#chat {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #26AA9D;
}

/* how to use end */

/* <!-- toUseMap start --> */
.container-colabrator {
  width: 100%;
  border: solid 1px;
  overflow: hidden;
  min-height: 1200px;
}

.wrapper-colUse {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  padding-left: 120px;
  margin-top: 136px;
}

.use1 {
  display: flex;
  justify-content: center;
  gap: 30px;
  min-height: 942px;
}

.use-contentTo1,
.use-contentTo2 {
  display: flex;
  flex-direction: column;
  gap: 61px;
}

.toUseMap1,
.toUseMap2,
.toUseMap3,
.toUseMap4,
.toUseMap5,
.toUseMap10,
.toUseMap9,
.toUseMap8,
.toUseMap7,
.toUseMap6 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 24px;
  /* width: 18.229vw; */
  min-height: 106px;
  border-radius: 20px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px 0px #00000026;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding-right: 16px;
}

.content-step h1 {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #176D7E;
}

.content-radius {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

.radius {
  min-width: 25px;
  height: 25px;
  border: 5px solid #F8931F;
  border-radius: 50%;
}

.content-radius span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #176D7E;
}

.toUseMap1::after,
.toUseMap2::after,
.toUseMap3::after,
.toUseMap4::after {
  position: absolute;
  left: 50px;
  content: "";
  min-height: 63px;
  width: 12px;
  background-image: url(../img/touse/Line-5.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 102px;
}

.toUseMap5::after {
  position: absolute;
  left: 48px;
  content: "";
  min-height: 86px;
  width: 2px;
  background-image: url(../img/touse/Line-8.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 100px;
}

.toUseMap1::before {
  content: "";
  position: absolute;
  background-image: url(../img/touse/Line-16.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 120px;
  width: 100%;
  min-height: 2px;
  right: 98%;
}

#sp1 {
  max-width: 181px;
  width: 100%;
  min-height: 38px;
}

#sp2 {
  max-width: 181px;
  width: 100%;
  min-height: 52px;
}

#sp3 {
  max-width: 268px;
  width: 100%;
  min-height: 96px;
}

#sp4 {
  max-width: 268px;
  width: 100%;
  min-height: 38px;
}

#sp5 {
  max-width: 268px;
  width: 100%;
  min-height: 22px;
}

#map3 {
  min-height: 156px;
}

#map3::after {
  position: absolute;
  left: 50px;
  content: "";
  min-height: 63px;
  width: 12px;
  background-image: url(../img/touse/Line-5.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 157px;
}

.use-contentTo2 {
  align-self: flex-end;
}

.toUseMap6::before {
  content: "";
  position: absolute;
  background-image: url(../img/touse/Line-9.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 335px;
  width: 100%;
  min-height: 8px;
  right: 100%;
  top: 65px;
}

.toUseMap6::after,
.toUseMap7::after,
.toUseMap8::after,
.toUseMap9::after {
  content: "";
  position: absolute;
  background-image: url(../img/touse/Line-10.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 12px;
  width: 100%;
  min-height: 58px;
  bottom: 107px;
  left: 40px;
}

.toUseMap10::after {
  position: absolute;
  content: "";
  background-image: url(../img/touse/Line-8.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 2px;
  width: 100%;
  min-height: 100px;
  transform: rotate(90deg);
  left: 114%;
}

.use2 {
  display: flex;
  flex-direction: column-reverse;
  max-width: 995px;
  width: 100%;
  min-height: 942px;
  border: solid 1px;
  position: relative;
  background-image: url(../img/toUse/phone.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}
.touse-bottom{
  max-width: 760px;
  width: 100%;
  min-height: 607px;
  border: solid 1px;
}