/* how to use start  */

.container-howToUse {
  width: 90vw;
  padding-left: 6%;
  margin-top: 90px;
}

.wrapper-toUse {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.wrapper-toUse h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0.18em;
  text-align: left;
  color: #F8931F;
}

.wrapper-toUse span {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #263238;
}

#chat {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #26AA9D;
}

/* how to use end */

/* <!-- toUseMap start --> */
.container-colabrator {
  width: 100%;
  overflow: hidden;
  min-height: 1200px;
}

.wrapper-colUse {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  padding-left: 120px;
  margin-top: 136px;
}

.use1 {
  max-width: 709px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  min-height: 942px;
}

.use-contentTo1,
.use-contentTo2 {
  display: flex;
  flex-direction: column;
  gap: 61px;
}

.toUseMap1,
.toUseMap2,
.toUseMap3,
.toUseMap4,
.toUseMap5,
.toUseMap10,
.toUseMap9,
.toUseMap8,
.toUseMap7,
.toUseMap6,
.toUseMap20,
.toUseMap21,
.toUseMap22,
.toUseMap23,
.toUseMap24,
.toUseMap30,
.toUseMap31,
.toUseMap32,
.toUseMap100,
.toUseMap101,
.toUseMap102,
.toUseMap01,
.toUseMap02,
.toUseMap03,
.toUseMap04,
.toUseMap05,
.toUseMap06,
.toUseMap08,
.toUseMap07,
.toUseMap09,
.toUseMap010,
.toUseMap021,
.toUseMap011,
.toUseMap022,
.toUseMap023,
.toUseMap024 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 24px;
  /* width: 18.229vw; */
  min-height: 106px;
  border-radius: 20px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px 0px #00000026;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding-right: 16px;
}

.content-step h1 {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #176D7E;
}

.content-radius {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

.radius {
  min-width: 25px;
  height: 25px;
  border: 5px solid #F8931F;
  border-radius: 50%;
}

.content-radius span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #176D7E;
}

.toUseMap1::after,
.toUseMap2::after,
.toUseMap3::after,
.toUseMap4::after {
  position: absolute;
  left: 50px;
  content: "";
  min-height: 63px;
  width: 12px;
  background-image: url(../img/touse/Line-5.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 102px;
}

.toUseMap5::after {
  position: absolute;
  left: 48px;
  content: "";
  min-height: 86px;
  width: 2px;
  background-image: url(../img/touse/Line-8.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 100px;
}

.toUseMap1::before {
  content: "";
  position: absolute;
  background-image: url(../img/touse/Line-16.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 120px;
  width: 100%;
  min-height: 2px;
  right: 98%;
}

#sp1 {
  max-width: 181px;
  width: 100%;
  min-height: 38px;
}

#sp2 {
  max-width: 181px;
  width: 100%;
  min-height: 52px;
}

#sp3 {
  max-width: 268px;
  width: 100%;
  min-height: 96px;
}

#sp4 {
  max-width: 268px;
  width: 100%;
  min-height: 38px;
}

#sp5 {
  max-width: 268px;
  width: 100%;
  min-height: 22px;
}

#map3,
#map4 {
  min-height: 156px;
}

#map3::after {
  position: absolute;
  left: 50px;
  content: "";
  min-height: 63px;
  width: 12px;
  background-image: url(../img/touse/Line-5.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 157px;
}

.use-contentTo2 {
  align-self: flex-end;
}

.toUseMap6::before {
  content: "";
  position: absolute;
  background-image: url(../img/touse/Line-9.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 335px;
  width: 100%;
  min-height: 8px;
  right: 100%;
  top: 65px;
}

.toUseMap6::after,
.toUseMap7::after,
.toUseMap8::after,
.toUseMap9::after {
  content: "";
  position: absolute;
  background-image: url(../img/touse/Line-10.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 12px;
  width: 100%;
  min-height: 58px;
  bottom: 107px;
  left: 40px;
}

.toUseMap10::after {
  position: absolute;
  content: "";
  background-image: url(../img/touse/Line-8.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 2px;
  width: 100%;
  min-height: 100px;
  transform: rotate(90deg);
  left: 114%;
}

.use2 {
  display: flex;
  flex-direction: column-reverse;
  max-width: 995px;
  width: 100%;
  min-height: 942px;
  position: relative;
  background-image: url(../img/toUse/phone.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 90%;
  margin-right: 40px;
}

.touse-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 760px;
  width: 100%;
  min-height: 607px;
}

.touse-top {
  max-width: 393px;
  width: 100%;
  min-height: 798px;
  position: absolute;
  left: 53%;
  bottom: 219px;
  border-radius: 77px;
  background-image: url(../img/touse/010101.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: 10;
}

.content-video {
  max-width: 360px;
  width: 100%;
  min-height: 779px;
  position: absolute;
  border-radius: 64px;
  z-index: 2;
  top: 10px;
}

.wrapper-yopUser {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 61px;
}

.toUseMap20::before {
  content: "";
  position: absolute;
  max-width: 11px;
  width: 100%;
  min-height: 111px;
  background-image: url(../img/touse/Line11.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 106px;
  left: 49px;
}

.toUseMap20::after,
.toUseMap21::after,
.toUseMap22::after {
  content: "";
  position: absolute;
  background-image: url(../img/touse/Line-5.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 9px;
  width: 100%;
  min-height: 59px;
  left: 47px;
  top: 106px;
}

.toUseMap23::after {
  content: "";
  position: absolute;
  background-image: url(../img/touse/Line-5.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 9px;
  width: 100%;
  min-height: 59px;
  transform: rotate(270deg);
  left: 108%;
}

.wrapper-yopUserRigth {
  max-width: 350px;
  width: 100%;
}

.toUseMap24::after {
  content: "";
  position: absolute;
  background-image: url(../img/touse/Line-17.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 281px;
  width: 100%;
  min-height: 2px;
  left: 100%;
}

/* <!-- toUseMap end --> */
.wrapper-toUsepind {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  gap: 14px;
}

.wrapper-toUsepind h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #263238;
  text-transform: uppercase;
}

.toUse-line {
  max-width: 263px;
  width: 100%;
  min-height: 2px;
  border-radius: 28px;
  background: #26AA9D;

}

.content-toUsen1 {
  display: flex;
  margin-top: 39px;
  margin-bottom: 90px;
  padding-inline: 120px;
  justify-content: space-between;
  align-items: center;
}

.phone-video {
  width: 100%;
  min-height: 884px;
  background-image: url(../img/touse/liner.svg);
  background-position: 32% 0px;
  background-repeat: no-repeat;
  background-size: 29%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-inline: 3%;
}

.wrapper-info_toUse {
  display: flex;
  justify-content: space-between;
  max-width: 775px;
  width: 100%;
  min-height: 582px;
}

.img-video {
  max-width: 350px;
  width: 100%;
  min-height: 714px;
  background-image: url(../img/touse/010101.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  right: 153px;
  overflow: hidden;
}

.contlo-vid {
  max-width: 321px;
  width: 100%;
  min-height: 535px;
  position: absolute;
  border-radius: 50px;
  left: 15px;
  top: 8px;
}

.to-left {
  display: flex;
  flex-direction: column;
  gap: 61px;
}

.toUseMap30::after,
.toUseMap31::after {
  position: absolute;
  left: 41px;
  content: "";
  min-height: 59px;
  width: 12px;
  background-image: url(../img/touse/Line-5.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 106px;
}

.toUseMap32::after {
  position: absolute;
  left: 52px;
  content: "";
  min-height: 86px;
  width: 2px;
  background-image: url(../img/touse/Line-8.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 100px;
}

.to-rigth {
  display: flex;
  flex-direction: column;
  gap: 61px;
  align-self: flex-end;
}

#map4::before {
  content: "";
  position: absolute;
  background-image: url(../img/touse/Line-9.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 369px;
  width: 100%;
  min-height: 8px;
  right: 100%;
  top: 94px;
}

#map4::after {
  content: "";
  position: absolute;
  background-image: url(../img/touse/Line-10.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 12px;
  width: 100%;
  min-height: 58px;
  bottom: 159px;
  left: 40px;
}

.toUseMap101::after {
  content: "";
  position: absolute;
  background-image: url(../img/touse/Line-10.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 12px;
  width: 100%;
  min-height: 58px;
  bottom: 107px;
  left: 40px;
}

.rad1 {
  align-items: flex-start
}

.conatiner-res-step {
  width: 100%;
  margin-top: 30px;
  display: none;
  overflow: hidden;
  padding-bottom: 20px;
}

.wrapper-steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 51px;
  padding-left: 6%;
}

.steps1::after {
  content: "";
  position: absolute;
  background-image: url(../img/touse/Line-16.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 120px;
  width: 100%;
  min-height: 2px;
  right: 94%;
}

.steps1 {
  display: flex;
  align-items: center;
  gap: 52px;
  justify-content: flex-start;
}

.block-step1,
.block-step2,
.block-step3,
.block-step4,
.block-step5,
.block-step6,
.block-step7,
.block-step8,
.block-step9,
.block-step10,
.block-step011,
.block-step012,
.block-step14,
.block-step15,
.block-step16 {
  max-width: 340px;
  width: 100%;
}

.toUseMap01::after,
.toUseMap05::after,
.toUseMap09::after,
.toUseMap022::after,
.toUseMap023::after {
  content: "";
  position: absolute;
  max-width: 51px;
  width: 100%;
  min-height: 12px;
  background-image: url(../img/touse/Line05.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  left: 100%;
}

.toUseMap02::after,
.toUseMap06::after,
.toUseMap010::after {
  content: "";
  position: absolute;
  max-width: 51px;
  width: 100%;
  min-height: 12px;
  background-image: url(../img/touse/Line05.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  left: 4%;
  transform: rotate(90deg);
  top: 118%;
}

.steps2 {
  display: flex;
  align-items: center;
  gap: 52px;
  justify-content: flex-start;
}

.toUseMap04,
.toUseMap03 {
  min-height: 156px;
}

.toUseMap03 {
  justify-content: flex-start;
  padding-top: 19px;
}

.toUseMap04::before {
  content: "";
  position: absolute;
  background-image: url(../img/touse/Line010.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 53px;
  width: 100%;
  min-height: 12px;
  right: 100%;
}

.toUseMap03::after,
.toUseMap08::after,
.toUseMap021::after {
  content: "";
  position: absolute;
  max-width: 51px;
  width: 100%;
  min-height: 12px;
  background-image: url(../img/touse/Line05.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  left: 4%;
  transform: rotate(90deg);
  top: 113%;
}

.steps3 {
  display: flex;
  align-items: center;
  gap: 52px;
  justify-content: flex-start;
}

.steps4 {
  display: flex;
  align-items: center;
  gap: 52px;
  justify-content: flex-start;
}

.toUseMap07::before,
.toUseMap011::after {
  content: "";
  position: absolute;
  background-image: url(../img/touse/Line010.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 53px;
  width: 100%;
  min-height: 12px;
  right: 100%;
}

.steps5 {
  display: flex;
  align-items: center;
  gap: 52px;
  justify-content: flex-start;
}

.steps6 {
  display: flex;
  align-items: center;
  gap: 52px;
  justify-content: flex-start;
}

.steps7 {
  display: flex;
  align-items: center;
  gap: 52px;
  justify-content: flex-start;
}

.toUseMap024::after {
  max-width: 330px;
  width: 100%;
  min-height: 2px;
  background-image: url(../img/touse/Line24.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  left: 100%;
}

.steps-rigth {
  max-width: 648px;
  width: 100%;
  min-height: 1093px;
  position: absolute;
  left: 54%;
  background-image: url(../img/touse/sal.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 157px;
}

.steps-rigth video {
  max-width: 324px;
  width: 100%;
  border-radius: 50px;
  position: absolute;
  top: 35.5%;
  left: 45%;
}

.molad-sectionBtn,
.molad-sectionBtn1 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  max-width: 776px;
  margin-top: 20px;
}

.modal,
.modal1 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #0000009e;
}

.modal-content,
.modal-content1 {
  margin: 15% auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 105px;
  align-items: center;
}

.close,
.close1 {
  max-width: 370px;
  width: 100%;
  min-height: 44px;
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps-rigth1 {
  max-width: 200px;
  width: 100%;
  min-height: 406px;
  background-image: url(../img/touse/010101.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.steps-rigth1 video {
  max-width: 185px;
  width: 100%;
  min-height: 406px;
  border-radius: 40px;
  position: absolute;
  left: 7px;
}

.close:hover,
.close:focus,
.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.molad-sectionBtn {
  display: none;
}

.molad-sectionBtn1 {
  display: none;
  position: relative;
  bottom: 143px;
}

.ne,
.ne1 {
  border: none;
  background-color: unset;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: right;
  color: #176D7E;

}

@media screen and (max-width:1650px) {

  .container-colabrator {
    display: none;
  }

  /* .content-toUsen1 {
    display: none;
  } */

  .container-howToUse {
    width: 90vw;
    padding-left: 3%;
    margin-top: 60px;
  }

  .conatiner-res-step {
    display: flex;
  }

  .phone-video {
    background-image: url(../img/touse/au.svg);
    background-position: 36% 42px;
  }

  .img-video {
    right: 80px;
  }

  .content-toUsen1 {
    padding-inline: unset;
    padding-left: 120px;
  }
}

@media screen and (max-width:1410px) {
  .steps-rigth {
    left: 47%;
  }
}

@media screen and (max-width:1280px) {
  .wrapper-toUse h1 {
    font-size: 32px;
  }

  .wrapper-toUse span {
    font-size: 16px;
  }

  .wrapper-toUsepind h1 {
    font-size: 24px;
  }

  .steps-rigth {
    background-image: url(../img/touse/010101.png);
    background-size: 55%;
    background-position: right;
  }

  .steps-rigth video {
    max-width: 328px;
    width: 100%;
    border-radius: 50px;
    position: absolute;
    top: 17.5%;
    left: 47%;
  }

  .img-video {
    background-image: url(../img/touse/010101.png);
  }

  .phone-video {
    background-image: none;
  }
}

@media screen and (max-width:1240px) {
  .phone-video {
    min-height: 730px;
  }

  .content-toUsen1 {
    margin-top: 0;
  }

  .content-toUsen1 {
    padding-left: 3%;
  }

  .phone-video {
    justify-content: unset;
  }

  .molad-sectionBtn,
  .molad-sectionBtn1 {
    display: flex;
  }

  .steps-rigth,
  .img-video {
    display: none;
  }

  .steps7 {
    max-width: 960px;
    width: 100%;
    flex-wrap: wrap;
  }

  .toUseMap023::after {
    content: "";
    position: absolute;
    max-width: 51px;
    width: 100%;
    min-height: 12px;
    background-image: url(../img/touse/Line05.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 4%;
    transform: rotate(90deg);
    top: 118%;
  }

  .block-step15 {
    position: relative;
    left: 385px;
  }
}

@media screen and (max-width:786px) {
  #map4::before {
    max-width: 306px;
    width: 100%;
  }

  .wrapper-steps {
    padding-inline: 2%;
  }

  .molad-sectionBtn,
  .molad-sectionBtn1 {
    padding-right: 6%;
  }

  .steps1::after {
    max-width: 24px;
    width: 100%;
    min-height: 2px;
    right: 97%;
  }

  #map4::before {
    max-width: 282px;
    width: 100%;
  }
}

@media screen and (max-width:760px) {

  .steps1,
  .steps3,
  .steps5,
  .steps7 {
    flex-direction: column;
  }

  .steps2,
  .steps4,
  .steps6 {
    flex-direction: column-reverse;
  }

  .block-step15 {
    position: unset;
  }

  .steps1::after,
  .toUseMap024::after,
  .toUseMap04::before,
  .toUseMap07::before,
  .toUseMap011::after,
  #map4::before,
  #map4::after {
    max-width: unset;
    width: unset;
    min-height: unset;
    background-image: none;
  }
  .to-left {
    gap: 38px;
}
  .toUseMap01::after,
  .toUseMap05::after,
  .toUseMap09::after,
  .toUseMap022::after,
  .toUseMap023::after,
  .toUseMap02::after,
  .toUseMap06::after,
  .toUseMap010::after,
  .toUseMap04::after,
  .toUseMap03::after,
  .toUseMap07::after,
  .toUseMap08::after,
  .toUseMap011::before,
  .toUseMap021::after,
  .toUseMap30::after,
  .toUseMap31::after,
  .toUseMap30::after,
  .toUseMap100::after,
  .toUseMap31::after,
  .toUseMap32::after,
  .toUseMap101::after {
    content: "";
    position: absolute;
    max-width: 13px;
    width: 100%;
    min-height: 35px;
    background-image: url(../img/touse/30.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 11%;
    top: 103%;
    transform: rotate(0deg);
  }

  .toUseMap03 {
    min-height: 106px;
  }

  .wrapper-steps {
    gap: 38px;
  }

  .steps1,
  .steps2,
  .steps3,
  .steps4,
  .steps5,
  .steps6,
  .steps7 {
    gap: 39px;
  }

  .wrapper-info_toUse {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 120px;
  }

  .to-rigth {
    align-self: unset;
    max-width: 340px;
    width: 100%;
  }

  .to-left {
    max-width: 340px;
    width: 100%;
  }
}
@media screen and (max-width:393px) {
  .wrapper-toUsepind h1{
    max-width: 353px;
    width: 100%;
    text-align: center;
  }
  .content-toUsen1{
    margin-bottom: 264px;
  }
  .molad-sectionBtn1 {
    bottom: 354px;
}
.wrapper-toUse h1{
  font-size: 24px;
}
}